<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIAnimationTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCD6F2131F4BD2CE002E77DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD6F22C1F4BD2CE002E77DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD6F2371F4BD2CE002E77DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
